# QUESTION 1

  Assuming that we have some email addresses in the "username@companyname.com" format, please write program
  to print the company name of a given email address. Both user names and company names are composed of letters
  only

In [2]:
a = str(input("Enter the email address:"))

Enter the email address:omkarnage07@gmail.com

In [24]:
print("The company name:")
b= a[(a.index("@")+1):-4]
b

The company name:

'gmail'

# QUESTION 2

   Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
   separated sequence after sorting them alphabetically

In [25]:
a = ["Omkar","Aniket","Vinit","Chinmay","Dipesh"]
print("Before Sorting the list:\n", a)

a.sort()
print("\nAfter sorting list:\n",a)

Before Sorting the list:
 ['Omkar', 'Aniket', 'Vinit', 'Chinmay', 'Dipesh']

After sorting list:
 ['Aniket', 'Chinmay', 'Dipesh', 'Omkar', 'Vinit']

# QUESTION 3

  Create your own Jupyter Notebook for Sets

# Python Sets

# Set

   A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
   Sets are unordered, so you cannot be sure in which order the items will appear

In [52]:
A = {"LU", "AI", "ML"}
print(A)

{'LU', 'ML', 'AI'}

# Access Items

  You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
  But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in       keyword

In [53]:
B = {"LU", "AI", "ML"}

for x in thisset:
    print(x)

banana
apple
cherry

# Add items

   Once a set is created, you cannot change its items, but you can add new items.
   To add one item to a set use the add() method.To add more than one item to a set use the update() method.

In [54]:
A = {"LU", "AI", "ML"}
A.add("OMKAR")
print(A)

{'OMKAR', 'LU', 'ML', 'AI'}

In [59]:
str = {"LU", "AI", "ML"}

str.update(["Darshan sir","Sai sir","Dinesh sir"])

print(str)

{'ML', 'Darshan sir', 'Dinesh sir', 'LU', 'Sai sir', 'AI'}

# Get the Length of a Set

   To determine how many items a set has, use the len() method.

In [60]:
str1 = {"AI","ML", "LU","Darshan sir","Sai sir","Dinesh sir"}
print(len(str1))

6

# Remove Item

  To remove an item in a set, use the remove(), or the discard() method.

If the item to remove does not exist, remove() will raise an error.

If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

The clear() method empties the set.

The del keyword will delete the set completely.

In [61]:
A = {"LU", "AI", "ML","OMKAR"}
A.remove("OMKAR")
print(A)

{'LU', 'ML', 'AI'}

In [62]:
A = {"LU", "AI", "ML","OMKAR"}
A.discard("OMKAR")
print(A)

{'LU', 'ML', 'AI'}

In [63]:
A = {"LU", "AI", "ML","OMKAR"}
x = A.pop()
print(x)
print(A)

OMKAR
{'LU', 'ML', 'AI'}

In [65]:
A = {"LU", "AI", "ML","OMKAR"}
A.clear()
print(A)

set()

In [68]:
Lu = {"apple", "banana", "cherry"}

del Lu

print(Lu) 

#Error because set name thisset is permanently deleted and does not exist

NameError: name 'Lu' is not defined

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another.

Both union() and update() will exclude any duplicate items.

In [70]:
set1 = {"LU", "AI" , "ML"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'LU', 'AI', 'ML'}

In [72]:
set1 = {"LU", "AI" , "ML"}
set2 = {7, 10, 11}

set1.update(set2)
print(set1)

{'LU', 7, 'AI', 10, 11, 'ML'}

# QUESTION 4

  Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [30]:
l = [1,2,3,5,6,8,9]

for i in range(1,10):
    if i not in l:
        print(i,end=" ")

4 7

# QUESTION 5

  With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [48]:
# The input list is 
a = [12,24,35,24,88,120,155,88,120,155]
print("The give list:",a)
# remove duplicate values from the given list
a.remove(24)
a.remove(120)
a.remove(155)
a.remove(88)
# after remove duplicate value from the list 
print("After removing all duplicate value with original order reserved:",a)

The give list: [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
After removing all duplicate value with original order reserved: [12, 35, 24, 88, 120, 155]